<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.datetimepicker.full.min.js"></script>
<!--<script src="../js/jquery.mobile-1.4.5.min.js"></script> -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/jquery.datetimepicker.css"/ >
<script src="../js/bootstrap.min.js"></script>
<link rel="stylesheet"  href="../css/style.css">


</head>

<body>