<%- include('admin/adminHeader')%>
<body class="loginBgBody">


<div class="login modal_center">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center logbanner"><img width=40 src="../images/logo1.png">RH CMS</div>
		</div>
		<div class="row">
			<div class="col-xs-12 line">
				 <div class="loginicon"><span class="glyphicon glyphicon-user "></span></div>
				<input type="text" id="username" class="form-control logmsg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 line">
				 <div class="loginicon"><span class="glyphicon glyphicon-lock "></span></div>
				<input type="password" id="password" class="form-control logmsg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 line codeline">
				 <div class="loginicon"><span class="icon_key"></span></div>
				 <div class="imgcode"><img id="imgreborn" src="../images/captcha/code<%- imgtime%>.png" height="28" width="80" onclick="rebornCode()"></div>
				<input type=text id="captcha" class="form-control logmsg">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 submitline">
				<button type="button" class="btn btn-primary denglu" onclick="checkLogin()">登录</button>
			</div>
		</div>

	</div>
</div>








<script src="../js/login.js"></script>
<script src="../js/brh.js"></script>
<%- include('footer')%>