<%- include('header')%>
<body class="loginBgBody">

<div class="noprevelige modal_center">
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-xs-4 sad text-center"><span class="glyphicon glyphicon-ban-circle"></span></div>
			<div class="col-xs-8" style="font-size:20px;padding:20px 0px;">此路不通，还是回<a href="/">首页</a>吧...</div>
		</div>
		

	</div>
</div>







<script src="../js/brh.js"></script>

<%- include('footer')%>