@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}


.loginBgBody{
	background: url(../images/bg.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover; 
	position: relative;z-index: 1;
	

}
.login{
	position: absolute;
	background:#fff;
	width: 300px;
	height: 300px;
	left:50%;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	opacity: 0.85;
	-webkit-opacity:0.85;
	-moz-opacity:0.85;
	filter: alpha(opacity=0.15);
	
}
.login,.line{
	margin:6px 0px;
}
.logbanner{
	font-size:20px;
	padding: 20px 0px;

}
.loginicon{
	position: absolute;
	left: 20px;
	top:2px;
	text-align: center;
	width: 35px;
	height: 30px;
	padding:6px 0px; 
	border-right: #e9e9e9 1px solid;
}
.icon_key::before{
	font-family: 'ElegantIcons';
	content: "\e06e";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.imgcode{
	position: absolute;
	left:60px;
	top:3px;
}
.imgcode img{
	cursor: pointer;
}
.codeline input{padding-left:140px;letter-spacing: 2px;}
.logmsg{
	padding-left:55px;
}
.submitline{margin-top: 20px;}
.denglu{width:100%;}

.noprevelige{
	position: absolute;
	background:#fff;
	width: 500px;
	height: 250px;
	left:50%;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	opacity: 0.85;
	-webkit-opacity:0.85;
	-moz-opacity:0.85;
	filter: alpha(opacity=0.15);

}
.sad{
	font-size:80px;
	color:#da3b3b;
}
.noprevelige .row{padding: 60px 0px;}

header{
	height: 60px;
	background-color: #4786ad;
	
	padding:10px;
	position: relative;
}
.headerbar{
	position: absolute;
	bottom: 0px;
	padding: 0px;
	margin:0px;
	left:16.66666667%;

}
.headerbar li{
	padding: 0px;
	margin:0px;
	list-style: none;
	font-size: 20px;
	color:#333;
}
.headerbar>li>a{
	
	font-size: 20px;
	color:#fff;
}
.sidebar{
	position: absolute;
	background-color: #222d32;
	width:210px;
	top:0px;
	left:0px;
	margin-top: 60px;
	min-height: 100%;
}
.sidenav{
	padding-left:0px;
}
.sidebar-form{
	border-radius:3px;
	border:1px solid #374850;
	margin:10px 10px;
}
.sidebar-form .btn{
	color:#999;
	border-top-left-radius:0px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:0px;
}
.sidebar-form input[type="text"], .sidebar-form .btn{
	box-shadow:none;
	background-color:#fff;
	border:1px solid transparent;
	height:35px;
}
.nav-stacked>li>a{
	border-left:3px solid transparent;
}
.nav-stacked>li:hover>a, .nav-stacked>li.active>a{
	color:#fff;
	background-color:#1e282c;
	border-left-color: #3c8dbc;
}
.nav-pills > li > a{
	border-radius:0px;
	padding-left:20px;
	color:#b8c7ce;
}
.nav-pills > li > a:hover{
	background-color:#1e282c;
	color:#fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{
	color:#fff;
	background-color: #333;
}
.user_panel{
	position: absolute;
	right:10px;
	bottom:10px;
	color:#fff;
}
.user_panel a{
	
	color:#333;
}
.wrap{
	margin-left: 200px;
	padding: 10px 40px;
	position: relative;
}
.news_op{
	padding: 6px;
}
.news_op>button{
	margin-right: 10px;
	margin-top: 10px;
	width: 70px;
}
.news_op>span{
	line-height: 34px;
}
.news_op>a{
	line-height: 34px;
}
.news_op .checkbox-inline{
	padding-left: 15px;
}
.news_op .newsNote{
	color:red;
}
.news_op .checkbox-inline #setTop{
	margin-top:10px;
}
.news_op .checkbox-inline span{
	line-height: 34px;
}
.news_op .checkbox-inline #topEndTime{
	display:none;
}
.news_type{
	margin-top: 10px;
}
.newsListOp{
	margin:3px 5px;
}
#uploadedImg{
	width:150px;
	position: relative;
}
#uploadedImg>img{
	border:#7d7d7d 1px solid;
	cursor: pointer;
}

.staff_table{
		border:#777 1px solid;
	}
.delStaff{color:red;}
.delStaff:hover{color:red;}
.saveStaff{}
